body{
 background-image: url('https://crystaljoys.com/cdn/shop/articles/Untitled_Facebook_Cover_5.png?v=1667992555');
 color:  white;
   background-size:contain;

 text-align: center;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  background-color: rgba(0, 0, 0, 0.622);
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  width: 80%;
}
.button{
  background-color: white;
  color: purple;
  border: none;
  padding: 10px 20px;
  font-weight: bolder;;
  border-radius: 25px;
}
